@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .navbar-glow {
    box-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 40px #007bff; /* Custom neon glow */
  }
}

@layer components {
  .bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
  }
  
  .from-gold {
    --tw-gradient-from: #FFD700; /* Adjust this color to match your desired shade of gold */
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(255,215,0,0));
  }

  .to-orange {
    --tw-gradient-to: #FFA500; /* Adjust this color to match your desired shade of orange */
  }
}

/* styles.css or another global CSS file */
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700, 0 0 15px #FFD700, 0 0 20px #FFA500, 0 0 35px #FFA500, 0 0 40px #FFA500, 0 0 50px #FFA500, 0 0 75px #FFA500;
  }
  50% {
    box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 25px #FFD700, 0 0 30px #FFA500, 0 0 45px #FFA500, 0 0 50px #FFA500, 0 0 60px #FFA500, 0 0 85px #FFA500;
  }
}

.glowing-border {
  animation: glow 2s ease-in-out infinite;
}

